<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escola XYZ - Home</title>
    <!-- Menu de estilização -->
     <div th:insert="~{fragmentos/style}"></div>
</head>
<body>
    <!-- Barra Menu -->
     <div th:insert="~{fragmentos/header :: header}"></div>
     <div class="container">
        <!-- Inserir Carossel -->
     </div>

     <!-- Footer -->

</body>

<script th:src="@{js/script.js}"></script>

</html>